body{
    background-color: #232323;
    margin: 0;
}

.square{
    width: 30%;
    background: #232323;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container{
    max-width: 600px;
    margin: 2% auto;
}

#head{
    padding: 20px 0;
    text-align: center;
    color: white;
    background: rgb(205, 121, 12);
}

h1{
    padding-bottom: 8px;
    margin: 0;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: italic; */
    font-size: 200%;
    text-transform: uppercase;
}
h4{
    margin: 0;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    text-transform: uppercase;
}

.navbar{
    background: white;
    height: 30px;
    text-align: center;
}

span {
    margin: auto;
    color: black;
    text-align: center;
    display: inline-block;
    width: 20%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    padding: 1px;
    height: 100%;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 2.0s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}
button:hover{
    color: white;
    background: rgb(205, 121, 12);
}
.selected{
    color: white;
    background: rgb(205, 121, 12);
}